/*csslint important: false*/
html, body{
  height : 100%;
}
hr {
  margin: 0 0;
}
br {
  content: "";
  display: block;
  font-size: 24%;
  margin: 5px;
}
.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ib-link {
  color: black;
  font-size: 16px;
  margin: auto;
  text-decoration: none;
  vertical-align: middle;
}
.i-footer {
  font-style: italic;
}
.i-arrow {
  margin-left: 53px;
  margin-top: 35px;
}
.i-dropdown {
  margin-left: 42px;
  margin-top: 40px;
}
.title {
  font-weight: bold;
}
.m-arrow {
  margin-left: 95px;
  margin-top: 35px;
}
.m-dropdown {
  margin-left: 84px;
  margin-top: 40px;
}
.m-favicon {
  height: 16px;
  margin-right: 10px;
  vertical-align: middle;
  width: 16px;
}
.m-links {
  max-height: 200px;
}
.m-text {
  white-space: nowrap;
}
.m-icon {
  border-radius: 50%;
  cursor: pointer;
  float: right;
  height: 32px;
  margin-right: 10px;
  opacity: .5;
  width: 32px;
}
.m-icon:hover {
  opacity: 1;
}
.m-dropdown hr {
  margin: 0 0;
}
.dropdown {
  display: inline-block;
  position: relative;
  user-select: none;
  vertical-align: middle;
}
.dropdown-box {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown-arrow {
  border-bottom: 5px solid #f1f1f1;
  border-bottom: 5px solid rgba(241,241,241,0.7);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 0;
}
.dropdown-content {
  background-color: #f1f1f1;
  background-color: rgba(241,241,241,0.7);
  border-radius: 5%;
  overflow: scroll;
  width: 160px;
}
.dropdown-content a, div{
  color: black;
  display: block;
  padding: 5px 8px;
  text-decoration: none;
}
.dropdown-content .variable-m-label{
  display: none;
}
.dropdown a:hover {
  background-color: #ddd;
  border-radius: 5%;
  cursor: pointer;
}
.ext-title {
  padding: 10px 0;
}
.no-padding {
  overflow: scroll;
  padding: 0 0;
}
.quicklink-options {
  display: none;
  padding:0 5px;
}
.quicklink-input input{
  float: right;
  margin-left: 5px
}
.ql-dropdown {
  margin-left: 265px;
  margin-top: 40px;
}
.dropdown .to-remove:hover {
  background-color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, .5);
}
.dropdown .to-edit:hover {
  background-color: rgb(0, 0, 255);
  background-color: rgba(0, 0, 255, .5);
}
.s-arrow {
  margin-left: 11px;
  margin-top: 35px;
}
.s-dropdown {
  margin-left: 0;
  margin-top: 40px;
}
.sr-dropdown {
  margin-left: 181px;
  margin-top: 40px;
}
.aqlci-dropdown {
  margin-left: 265px;
  margin-top: 180px;
  text-align: center;
}
.show {
  display:inline-block !important;
}
.invalid {
  outline: 2px solid rgb(255, 0, 0);
  outline: 2px solid rgba(255, 0, 0, .5);
}
.selected {
  background-color: #ddd;
  border-radius: 5%;
}
.submit-button {
  float:right;
  margin-right: 5px;
}
.change-icon-button {
  float: left;
  margin-left: 2px;
}
.vert-margin {
  margin-bottom: 5px;
  margin-top: 5px;
}
.settings-checkbox {
  margin-left: 4px;
}
.title-position {
  margin: 5px 8px;
}
.fav-border {
  outline: 1px solid #f1f1f1;
  outline: 1px solid rgba(241,241,241,0.7);
}
/* Pulled from: http://jsbin.com/image-instead-of-radio-button/5/edit?html,css,output */
label > input{
  position: absolute;
  visibility: hidden;
}
label > input + img{
  border: 2px solid transparent;
  cursor: pointer;
}
label > input:checked + img{
  outline: 2px solid grey;
}
